@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edffea !important;
}







/* Navbar */
header nav{
    display: flex;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10%;
    color: #edffea;
    text-transform: uppercase;
}

header img {
    margin-right: auto;
    margin: 10px auto 17px 0px;
    max-height: 60px;
}

header nav ul {
    list-style: none;
    margin: 10px 0px 10px 0px;
}

header nav ul li {
    display: inline;
    margin-left: 5vw;
    min-width: none;
}
header nav ul li a {
    text-decoration: none !important;
    color: darkcyan;
    padding: 7px 10px;
    border-radius: 10px;
}

header nav ul li a:hover, nav .active-nav {
    background-color: rgb(22, 177, 177);
    color: #edffea;
    transition: background-color 0.3s ease;
}





/* Home Page */
.home-page-content {
    width: 60%;
    height: 500px;
    margin-left: 30px;
    margin-top: 100px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.82);
    border-radius: 50px;
}

.home-page-heading {
    color: #71cdee;
    font-size: 50px;
    font-weight: 700;
    transform:scaleY(1.5)
}

.home-page-text {
    margin-top: 30px;
    font-weight: 200;
    font-size: 28px;
}

.home-page-cta-button {
    background-color: #a7da9a; /* Green */
    border: none;
    color: white;
    padding: 0.3em 0.7em;
    width: 200px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 30px;
}

.home-page-cta-button:hover,
.home-page-cta-button:focus {
    box-shadow: inset 200px 0 0 0 #80cc2a;
}
.home-page-cta-button {
    transition: 0.4s;
}

.home-page-free-forever {
    padding-left: 2em;
    font-size: 20px;
    opacity: 70%;
}







/* Try-it Page */

.form-group {
    margin: 10px;
    width: 100% !important;

}

.form-select {
    margin: 10px;
    width: 100% !important;

}
form button {
    margin: 10px;
}


form {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    width: 40%;
    margin: 30px auto;
}

#energy_choice_select {
    display: none;
}
/* Table */
th {
    text-align: center !important;
}

table, th, td, tr {
    border: 2px solid black !important;
}

















/* Home page */
.showcase .gallery {
    display: flex;
    background-color: rgb(7, 7, 54);
    padding: 20px 10px 10px 10px;
    /* margin-top: 20px; */
}
.showcase .gallery img {
    width: 33%;
    padding: 20px;
}

.img1 {
    flex: 1.288;
}

.img2 {
    flex: 1.9138755981;
}

.img3 {
    flex: 1.499;
}


.img1:hover {
    opacity: 50%;
}

.img2:hover {
    opacity: 50%;
}

.img3:hover {
    opacity: 50%;
}

.front-image{
    width: 100vw;
    padding: 0;
}









#map {
    width: 100%;
    height: 500px;
    padding-bottom: 70px;

}

.grid-container {
    width: 42.8%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 31px;

}

.recenter-button {
    position: absolute;
    top: 0;
    right: 10px;
}





#popup-content {
    background-color: rgb(212, 212, 212);
    text-align: center;
    max-width: 150px;
    padding: 5px;
    border-radius: 10px;
}








@media(max-width:480px) {
    form {
        width: 90%;
        padding-right: 20px;
    }
    table {
        max-width: 50px !important;
        display: grid;
        justify-content: center;
    }
    th, td{
        max-width: 80px !important;
    }
}

